<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png?v=3' | relative_url }}">
</head>
<body class="no-scroll">
<header>
<nav>
<h1 style="visibility: hidden;"><a href="{{ '/' | relative_url }}">JASMINE SUN</a></h1>
<ul>
<li><a href="{{ '/travel' | relative_url }}" class="bold-text">[TRAVEL]</a></li>
</ul>
</nav>
</header>
<main>
    {{ content }}
</main>
<div class="jasmine-text">Jasmine</div>
<div class="sun-text">Sun</div>
</body>
</html>